*{
    margin: 0%;
    padding: 0%;
}
.div1{
    padding: 20px;
    display: flex;
    margin: 2%;;
    /* justify-content: space-between; */
    gap: 40px;
    background-color: aqua;
    
}

.div2{
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    /* background: linear-gradient(yellow,red,green); */
}
div img {
    padding-left: 0%;
    align-items: center;
    box-shadow: 10px 10px 10px red;
    filter: drop-shadow(10px 10px 10px yellow);
}